:root {
    --user-font-family: 'Arial', sans-serif;
    --user-primary-color: #FF4655;
    --user-secondary-color: #FFD122;
    --user-large-font-size: 1.5rem;
    --user-medium-font-size: 1rem;
    --user-small-font-size: 0.875rem;
}